*  {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
 
}


.textGradient {
    color: #ff8c00;
    background: linear-gradient(to right,
    #40e0d0, #ff8c00, #ff0080);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.biography {
    color: white;
    text-align: center;
    font-size: 30px;
}

.social {
    text-align: center;
}

.skill {
    color: white;
    font-size: 30px;
    text-align: left;
}

.portfolio {
   margin-left: 375px;
   position: absolute;
   background-color: yellow;
   color: white;
   border: none;
   border-radius: 10px;
   padding: AUTO;
   min-height: 50px;
   max-width: 120px;
   font-size: 30px;
   font-family: 'Bebas Neue', cursive;

}

.homepage {
    margin-top: 60%;
    position: absolute;
    background-color: yellow;
    color: white;
    border: none;
    border-radius: 10px;
    padding: auto;
    min-height: 50px;
    max-width: 120px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}
h1 {
    font-size: 100px;
    color: white;
    text-align: center;
    
}

h2 {
    font-size: 60px;
    color:white;
    text-align: center;
}

h4 {
    font-size: 40px;
    color: white;
    text-align: center;
}

.project {
    color: white;
    text-align: center;
    font-size: 40px;
}
.header {
    height: auto;
    justify-content: inherit;
    align-items: inherit;
}
